
	      
	    <div class="menuitem">
	      <a title="Philisophical writings and poetical ideas"
		 href="inspirations.html">Inspirations</a>
	    </div>
	    <div class="menuitem">
	      <a title="Publications and lectures"
		 href="expirations.html">Expirations</a>
	    </div>

	    <div class="menuitem">
	      <a title="Miscellaneous things I am active with"
		 href="aspirations.html">Aspirations</a>
	    </div>

	    <!-- Conspirations? these are secret right ;) -->

	    <hr />

	    <div class="menuitem">
	      <a title="Journey diaries"
		 href="diaries.html">Diaries</a>
	    </div>
	    
	    <div class="menuitem">
	      <a title="Achievements and discoveries along the way"
		 href="articles.html">Articles</a>
	    </div>

	    <div class="menuitem">
	      <a title="Artistic creations and exhibitions"
		 href="artworks.html">Artworks</a>
	    </div>

	    <div class="menuitem">
	      <a title="Musical compositions and performances"
	      href="music.html">Music</a>
	    </div>

	    <div class="menuitem">
	      <a title="Fictional literature in Italian"
	      href="novels.html">Novels</a>
	    </div>

	    <hr />

	    <div class="menuitem">
	      <a title="Classes tutored in schools"
		  href="classes.html">Classes</a>
	    </div>

	    <div class="menuitem">
	      <a title="Slides presented in lectures"
		  href="slides.html">Slides</a>
	    </div>

	    <hr />

	    <div class="menuitem">
	      <a title="About this journal"
		 href="about.html">About</a>
	    </div>

	    <div class="menuitem">
	      <a title="Contact me and my friends"
		 href="http://dyne.org/hackers_contact.php">Contact</a>
	    </div>

	    <div class="menuitem">
	      <a title="Invite me for a beer!"
		 href="donate.html">Support</a>
	    </div>

	    <div class="menuitem">
	      <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;"
		 href="http://jaromil.dyne.org/journal"></a>
	    </div>

	    <hr />
	    
	    <div class="menuitem">
	      <a title="A page linking all documents in this website"
		 href="sitemap.html">Sitemap</a>
	    </div>

	    <div class="search-form">
	      <form action="http://dyne.org/search" id="cse-search-box">
		<div>
		  <input type="hidden" name="cx" value="partner-pub-8713919100005636:ft3izybzqm3" />
		  <input type="hidden" name="cof" value="FORID:10" />
		  <input type="hidden" name="ie" value="UTF-8" />
		  <input type="text" name="q" size="6" />
		  <input type="submit" name="sa" value=">" />
		</div>
	      </form>
	      <script type="text/javascript" src="http://www.google.com/cse/brand?form=cse-search-box&amp;lang=en"></script>
	    </div>

	    <hr />


<center>

  <img src="images/geeknet-logo.png" alt="geeknet" title="Geeknet">
  
  <p>
    <font size="-1"><a href="http://slashdot.org/~jaromil">
	<img alt="poster" src="images/slashdot.ico" align="absmiddle" hspace="8" vspace="8"> on Slashdot
    </a></font>
  </p>
  
  <p>
    <font size="-1"><a href="http://freshmeat.net/~jaromil">
	<img alt="publisher" src="images/freshmeat.ico" align="absmiddle"> on Freshmeat
    </a></font>
  </p>
  
  <p>
    <font size="-1">
      <a href='https://www.ohloh.net/accounts/20804?ref=Rank'>
	<img alt='Coder' border='2' height='24'
	     src='https://www.ohloh.net/accounts/20804/widgets/account_rank.gif'
	     width='32' align="absmiddle" /> on Ohloh
    </a></font>
  </p>
  

	    <hr />
  
<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
<a href="http://www.addthis.com/bookmark.php?v=250&amp;username=jaromil" class="addthis_button_compact">Share</a>
<span class="addthis_separator">|</span>
<a class="addthis_button_facebook"></a>
<a class="addthis_button_google"></a>
<a class="addthis_button_twitter"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=jaromil"></script>
<!-- AddThis Button END -->


    <a href="#disqus_thread">
      <img src="images/disqus-logo.png"><br />
      <font size="-1">leave your comments</font>
    </a>
    
    <br />
<!--    
    <a href='http://www.pledgie.com/campaigns/9570'>
      <img alt='make a donation'
	   src='http://www.pledgie.com/campaigns/9570.png?skin_name=chrome' border='0' /></a>
    <br />
-->

	    <hr />


    
    </center>

<!-- Page published by Emacs Muse begins here -->


